*{
    margin: 0; 
    padding: 0; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
}

html{height: 100%;}
body{
    background: url(../imagenes/Home.png);
    min-height: 100%;
    width: 100%;
}

.cuerpo{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    align-items: end;
    justify-content: space-around;
    margin-top: 50px;
}

.cuerpo>div{display: flex; justify-content: center; align-items: center}

.pantalla{background: rgba(255, 255, 255, 0.3); width: auto; height: 500px; border-radius: 5%; padding: 60px;}
.titulopantalla{font-size: 30px; text-align: center; padding-top: 15px;}

.cajas{border: 1px solid #22577a; border-radius: 15px; background: none; height:40px; width: 300px; padding-left: 15px; font-size: 17px;}
.btnPantalla{border: 0px; border-radius: 20px; background: #22577a; height:40px; width: 310px; font-size: 15px; color: white;}
h1{font-size: 85px; color: white; font-weight: bolder;}
h3{font-size: 30px; color: white;}

/*DASHBOARD*/
.cuerpodashboard{
    display: grid;
    grid-template-rows: 150px max-content;
}

/*BANNER*/
.banner ul{align-items: center; display: flex; width: 100%; justify-content: space-around;}
.banner li{display: inline-block;} 
.banner{box-sizing: border-box; display: flex;}
.barramenu{background: rgba(87, 204, 153, 0.3); padding: 20px;}
ul{list-style-type: none;}
a{color: #fff; text-decoration: none;}

.perfilusuario{width: auto; height: 700px; display: flex; flex-direction: column; align-items: center; padding-top: 20px;}
.perfilusuario img{width: 150px; height: 190px; border-radius: 15px; padding-top: 5px;}
.perfilusuario div{color: #fff; font-size: 20px; text-align: center; font-weight: 100;}
.perfil{background: rgba(87, 204, 153, 0.3); width: 320px; padding: 20px; margin-bottom: 7px;}

.maindsh{display: grid; grid-template-columns: 27% 73%; grid-template-rows: 800px; padding-top: 20px;}
.cuentas{display: flex; justify-content: space-around;}
.cajames{padding: 20px 20px 40px;}
.cajames span{color: #fff; padding: 0px 15px;}
.cajames select{width: 245px; height:30px;}
select{width: 315px; height:40px; background: rgba(255, 255, 255, 0.6); border: none; border-radius: 15px; padding: 2px 10px;}
.contenedor{background: rgba(255, 255, 255, 0.6); width: 300px; height: fit-content; border-radius: 15px; text-align: center; padding: 15px 15px 20px;}

.azul{color: #22577a;}
h2{font-weight: 350;}
h4{font-size: larger; padding-bottom: 10px;}
.trasaccion{border-bottom: 1px dashed #22577a; padding: 10px;}
.banner{display: flex;}
.logo{padding: 0px 30px 0px 15px;}
i{color: #fff;}

.btnCaja{height: 335px;}
.btnBack{border: 0px; border-radius: 20px; background: rgba(87, 204, 153, 0.5); height:40px; width: 310px; font-size: 15px; color: white;}
.bt{border: 0px; border-radius: 20px; background: rgba(87, 204, 153, 0.5); height:30px; width: 100px; font-size: 15px; color: white; margin-left: 60px;}
.t-centrar{
	box-sizing: border-box;
	text-align: center;
	padding: 10px 10px;
}